<div class ="exercises">
  <ul>
    <li><h1>Burpee</h1>
      <div class ="description">
        <h3>What is it:</h3>
        <p>"I love burpees, in a ‘love-to-hate-them' kind of way. They’re a great heart-rate raiser and they hit so many muscles and different parts of your body. You work your lower body as you squat down and jump up, your core as you hit the floor, and the shoulders when you’re in that plank position. You can also modify them or add to them to change it up. If you want to take out the impact, step your legs back instead of jumping, or if you want to make it more challenging, you could add light dumbbells or a push-up."
          —Emily Jacques, Burn 60 master trainer
          
          "I know most people don't agree with me, but I love burpees. They are easy for me. They require no equipment and it's the hardest I can work my entire body in the shortest amount of time."
          —Holly Rilinger, Nike master trainer and author of Lifted: 28 Days to Focus Your Mind, Strengthen Your Body, and Elevate Your Spirit
        </p>
      </div>
          <div class ="how_to_do_it">
            <h3>How to do it:</h3>
            <ul>
              <li>Stand with your feet hip-width apart, core and glutes engaged.</li><br>
              <li>Bend your knees and reach forward to place your hands on the floor, shoulder-width apart.</li><br>
              <li>Kick your legs straight out behind you and immediately lower your entire body down to the ground, bending at the elbows, so that your chest touches the floor.</li><br>
              <li>Use your arms to quickly push your body back up while hopping your legs back under your body.</li><br>
              <li>Explode up, jumping vertically with arms stretched overhead. Land lightly on the balls of your feet with your knees slightly bent, and immediately repeat.</li><br>
            </ul>
          </div>
    </li>
  </ul>
</div>