<ng-container *ngIf="!logged">
  <div class="login__part">
    <div class="prelogin" style="margin-bottom:20px">
      Sign In!
    </div>
    <section class="wrap">
      <label class="label__element">Username</label>
        <input type="text" [(ngModel)]="login" name="username" id="username" placeholder="" class="login__element lg__ml">
      <label class="label__element"><span>Password</span></label>
        <input type="password" [(ngModel)]="password" name="password" id="password" placeholder="" class="login__element lg__pass">
      <label class="label__element"></label>
        <a id="signin" (click)="auth()" class="login__element lg__btn" > Login </a>
    </section>
  </div>
</ng-container>
