<div class = "test">
  <form>
    <label class ="question"> Please choose your gender? </label><br>
          <label  class="genders">Male</label>
          <input type="radio"  class="genders" name="gender" value="Male">
          <label  class="genders">Female</label>
          <input type="radio"  class="a2genders" name="gender" value="Female"><br/>
    <label class ="question">What is your weight?</label><br>
          <input type="text" name="weight" id="weight" placeholder="70 kg"><br>
    <label class ="question">What is your height?</label><br>
          <input type="text" name="height" id="height" placeholder="170cm"><br>
    <label class ="question">How old are you?</label><br>
          <input type="text" name="age" id="age" placeholder="Enter your age here"><br>
    <label class ="question">How active are you during the day?</label><br>
          <input type="radio" class ="day_active" name="day_active" value="Less than 1 hour a week">
          <label>Less than 1 hour a week</label>
          <input type="radio" class ="day_active" name="day_active" value="From 1 to 3 hours a week">
          <label>From 1 to 3 hours a week</label>
          <input type="radio" class ="day_active" name="day_active" value="From 4 to 10 hours a week">
          <label>From 4 to 10 hours a week</label><br>
    <label class ="question">Do you have blood pressure issue?</label><br>
          <input type="radio" class ="blood_pressure" name="blood_pressure" value="Yes, I have high blood pressure">
          <label>Yes, I have high blood pressure</label>
          <input type="radio" class ="blood_pressure" name="blood_pressure" value="Yes, I have low blood pressure">
          <label>Yes, I have low blood pressure</label>
          <input type="radio" class ="blood_pressure" name="blood_pressure" value="No, I don't have any issues">
          <label>No, I don't have any issues</label><br>
    <label class ="question">Where do you prefer to train?</label><br>
          <input type="radio" class ="training_place" name="training_place" value="At home">
          <label>At home</label>
          <input type="radio" class ="training_place" name="training_place" value="At gym">
          <label>At gym</label><br>
    <label class ="question">Do you have any allergies?</label><br>
          <input type="radio" class ="allergies" name="allergies" value="Yes, nut allergy">
          <label>Yes, nut allergy</label>
          <input type="radio" class ="allergies" name="allergies" value="Yes, lactose intolerance">
          <label>Yes, lactose intolerance</label>
          <input type="radio" class ="allergies" name="allergies" value="No">
          <label>No</label><br>
    <label class ="question">What is your goal?</label><br>
          <input type="radio" class ="goal" name="goal" value="Lose weight">
          <label>Lose weight</label>
          <input type="radio" class ="goal" name="goal" value="Gain weight">
          <label>Gain weight</label>
          <input type="radio" class ="goal" name="goal" value="Maintain healthy lifestyle">
          <label>Maintain healthy lifestyle</label><br>

    <input type="submit" value="Submit"><br/>
  </form>
</div>