<head>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<header>
    <nav class="group_of_elements">
        <ul>
            <li class="header_elements"><a href="">Main Menu</a></li>
            <li class="header_elements"><a routerLink ="./work-on-yourself" routerLinkActive="active">Work On Yourself</a>
                <ul>
                    <li *ngIf="logged"><a routerLink ="./test" routerLinkActive="active">Take a Test</a></li>
                    <li ><a routerLink ="./dietary" routerLinkActive="active">Diets</a></li>
                    <li ><a routerLink ="./exercises" routerLinkActive="active">Exercises</a></li>
                    <li ><a routerLink ="./supplement-info" routerLinkActive="active">Supplement Info</a></li>
                </ul>
            </li>
            <li class="header_elements"><a routerLink ="./supplement-info" routerLinkActive="active">Fitness Supplements</a>
                <ul>
                    <li ><a href="http://sportcenter.kz/category/protein/?promo_id=783371" target="_blank">Protein</a></li>
                    <li ><a href="http://sportcenter.kz/category/zhiroszhigatel/?promo_id=783371" target="_blank">Fat Burners</a></li>
                    <li ><a href="http://sportcenter.kz/category/energetik-no/?promo_id=783371" target="_blank">Pre-Workout</a></li>
                </ul>
            </li>
            <li *ngIf="!logged" class="header_elements"><a routerLink="./sign-in" routerLinkActive="active">Login</a></li>
            <li *ngIf="!logged" class="header_elements"><a routerLink="./sign-up" routerLinkActive ="active">Create new account</a></li>
            <li *ngIf="logged" class="header_elements"><a href="">{{userName}}</a>
                <ul>
                    <li><a routerLink='./tasks' routerLinkActive="active">My Tasks</a></li>
                    <!-- <li><a href="">Create Your Program</a></li> -->
                    <li><a routerLink="./profile" routerLinkActive="active">Profile</a></li>
                    <!-- <li ><a href="">Progress</a></li> -->
                    <li *ngIf="isadmin"><a routerLink="./adminpanel" routerLinkActive="active">Admin Panel</a></li>
                </ul>
            </li>
            <li *ngIf="logged" class="header_elements" (click)="logout()"><a href="">Logout</a></li>
        </ul>
    </nav>
</header>
