<div class="account">
  <form>
    <label>Enter your full name</label><br/>
      <input type="text" class="ffname" name="fname" placeholder="First Name"><br/>
      <input type="text" class="ssname" name="sname" placeholder="Second Name"><br/>
    <label>Enter your email address</label><br/>              	
      <input type="text" class="email" name="mail" placeholder="Email address"><br/>
    <label>Create your password</label><br/>
      <input type="password" class="pw" name="pasww" placeholder="New password"><br/>
      <input type="submit" value="Sign Up"><br/>
    </form>
  </div>
